*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url("./fonds/13.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 1%;
}
ul{
    display: flex;
}
.conctact{
    background-color: rgba(158, 191, 241, 0.253);
    margin-left: 1%;
    margin-top: 3%;
    padding-left: 1%;
    display: flex;
    column-gap: 10px;
    width: 1560px;
    padding-top: 2%;
    height: 560px;
    border-radius: 2px;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    margin-left: 30%;
}
.from{
    display: flex;
    flex-direction: column;
    height: 455px;
    width: 900px;
    padding: 5%;
}
.from button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 5%;
    background-color: rgba(231, 103, 29, 0.671);
    color: #fff;
    border: none;   
    margin-top: 70px;
    width: 20%;
    margin-left: 30%;
}
.form-group{
    margin-bottom: 20px;
    margin-top:1%;
}
input, textarea{
    width: 55%;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.mois button {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgba(231, 103, 29, 0.671);
    color: #fff;
    border: none;   
    margin-top: 70px;
}
.contact-info a{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.container{
    padding: 20px;
    background-color: rgba(105, 102, 102, 0.596);
    width: 750px;
    height: 500px;
    border-radius: 5%;
}
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
    .mois{
        width: 750px;
        height: 500px;
        border-radius: 5%;
        padding-left:2%;
        
    }
    .mois h1{
        padding-top: 5%;
        margin-top: 10%;
        color: rgb(255, 255, 255);
    }
    .mois h3{
        padding-top: 10%;
        margin-top: 10%;
        color: rgb(243, 124, 13);
    }
    .mois h5{
        margin-top: 5%;
        color: rgb(243, 124, 13);
    }



    .sup{
        background-color: rgba(53, 52, 50, 0.521);
        width: 100%;
        text-align: center;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul li{
        list-style: name;
        display:flex;
        padding: 20px 20px;
        width: 80px;
        margin-left: 10px;
        
    }
    nav ul li a{
        color: rgb(243, 124, 13);
        position: relative;
        margin-left: 50px;
    }
    nav ul li a:hover{
        color: rgb(255, 255, 255);
    }
    